<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <title>Sales Hierarchy</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="manifest" href="assets/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/dashboard-menu-theme-default.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">

    <style>
        /* CSS styles */


        thead .table-dark {
            background: #bd0000 !important;
            /* Background color for the header */
        }
    </style>

</head>

<body>
    <div class="mgscd-menu app">
        <div class="app-wrap">
            <header class="app-heading">
                <div class="canvas is-fixed is-top bg-white p-v-15 shadow-4dp" id="top-search">
                    <div class="container-fluid">
                        <form class="topheadersearch">
                            <div class="input-group input-group-lg icon-before-input"><input type="text" name="s"
                                    class="form-control input-lg b-0" placeholder="Search for...">
                                <div class="icon z-3"><i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i></div>
                                <span class="input-group-btn"><button data-target="#top-search" data-toggle="canvas"
                                        class="btn btn-danger btn-line top-search-btn-icon"><i
                                            class="fa-solid fa-circle-xmark fa-fw fa-lg"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div>
                <nav class="navbar navbar-default navbar-static-top shadow-2dp">
                    <div class="navbar-header">
                        <div class="navbar-header-left b-r"><a class="logo" href="index.html"><span
                                    class="logo-xs hidden-md"><img src="assets/img/logo-sm.png"
                                        alt="logo-sm"></span><span class="logo-lg visible-md"><img
                                        src="assets/img/logo.png" alt="logo"></span></a> </div>
                        <nav class="nav navbar-header-nav"><a class="hidden-md b-r" href="#" data-side="collapse"><i
                                    class="fa-solid fa-bars fa-fw"></i></a><a class="visible-md b-r" href="#"
                                data-side="mini"><i class="fa-solid fa-bars fa-fw"></i></a>
                            <form class="navbar-form visible-md b-r">
                                <div class="icon-after-input"><input type="text" name="s" class="form-control"
                                        placeholder="Search">
                                    <div class="icon"><a href="#"><i class="fa-solid fa-magnifying-glass fa-fw"></i></a>
                                    </div>
                                </div>
                            </form>
                        </nav>
                        <ul class="nav navbar-header-nav m-l-a">
                            <li class="hidden-md b-l"><a href="#top-search" data-toggle="canvas"><i
                                        class="fa-solid fa-magnifying-glass fa-fw"></i></a></li>


                            <li class="dropdown b-l">
                                <a class="dropdown-toggle profile-pic" href="#" data-bs-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img class="img-circle" src="assets//img/m1.jpg" alt="Jone Doe"><b
                                        class="visible-md hidden-sm logged-user-display-name"> Admin
                                    </b></a>
                                <ul class="dropdown-menu animated flipInY float-right">


                                    <li role="separator" class="divider"></li>
                                    <li><a href="./login.html"><i class="fa-solid fa-right-from-bracket fa-fw"></i>
                                            Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="app-container">
                <aside class="app-side">
                    <div class="side-content">


                        <div class="user-panel">
                            <div class="user-image">
                                <a href="#">
                                    <img class="img-circle" src="./assets/img/Group8143.png" alt="John Doe"></a>
                            </div>

                        </div>

                        <nav class="side-nav dmvertical-menu">
                            <ul class="metismenu nav nav-inverse nav-bordered" data-plugin="dashboardmenu">
                                <!-- <li><a class="active" href="#"><span class="nav-icon"><i
                                                class="fa-solid fa-gauge-high fa-fw"></i></span><span
                                            class="nav-title">User</span></a></li> -->


                                <li class="nav-divider"></li>

                                <li>
                                    <a href="javascript:void(0);">
                                        <span class="nav-icon">
                                            <img src="./assets/img/profile3.png" alt="" class="img-circle"
                                                style="height: 30px;">
                                        </span>
                                        <span class="nav-title">Level 1</span>
                                        <span class="nav-tools">
                                            <i class="fa-solid fa-angles-left fa-fw"></i>
                                        </span>
                                    </a>

                                    <ul class="nav nav-sub">
                                        <li>
                                            <a href="./index2.html">
                                                <span class="nav-title">
                                                    <img src="./assets/img/profile.png" alt="" class="img-circle"
                                                        style="height: 30px;"> Level 1</span>
                                            </a>
                                        </li>
                                        <li class="nav-divider"></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-title">
                                                    <img src="./assets/img/profile.png" alt="" class="img-circle"
                                                        style="height: 30px;"> Level 1</span>
                                                <span class="nav-tools">
                                                    <i class="fa-solid fa-angles-left fa-fw"></i>
                                                </span>
                                            </a>
                                            <ul class="nav nav-sub">
                                                <li class="nav-divider"></li>
                                                <li> <a href="./index2.html">
                                                        <span class="nav-title">
                                                            <img src="./assets/img/profile.png" alt=""
                                                                class="img-circle" style="height: 30px;"></i>
                                                            Level 2</span> </a>
                                                </li>
                                                <li class="nav-divider"></li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <span class="nav-title">
                                                            <img src="./assets/img/profile.png" alt=""
                                                                class="img-circle" style="height: 30px;">
                                                            Level 2</span>
                                                        <span class="nav-tools">
                                                            <i class="fa-solid fa-angles-left fa-fw"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="nav nav-sub">
                                                        <li class="nav-divider"></li>
                                                        <li>
                                                            <a href="./index2.html">
                                                                <span class="nav-title">
                                                                    <img src="./assets/img/profile.png" alt=""
                                                                        class="img-circle" style="height: 30px;"> Level
                                                                    3</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-divider"></li>
                                                        <li>
                                                            <a href="./index2.html">
                                                                <span class="nav-title">
                                                                    <img src="./assets/img/profile.png" alt=""
                                                                        class="img-circle" style="height: 30px;"> Level
                                                                    3</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-divider"></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-divider"></li>
                                        <li><a href="./index2.html">
                                                <span class="nav-title">
                                                    <img src="./assets/img/profile.png" alt="" class="img-circle"
                                                        style="height: 30px;"> Level
                                                    1</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-divider"></li>


                            </ul>
                        </nav>
                    </div>
                    <!-- <div class="side-footer p-h-15 p-t-15 p-b-10">
                        <p>
                            <img src="./assets/img/Group8143.png" alt="" class="img-circle" style="height: 30px;">
                            Sales Hierarchy
                        </p>


                    </div> -->
                </aside>
                <div class="side-visible-line visible-md" data-side="collapse"><i class="fa-solid fa-caret-left"></i><i
                        class="fa-solid fa-arrow-right-arrow-left"></i></div>
                <div class="app-main">
                    <!-- <header class="main-heading shadow-2dp">
                        <div class="dashhead bg-white">
                            <div class="dashhead-titles">
                                <h3 class="dashhead-title">

                                    <img src="./assets/img/Component1.png" alt="" class="src">
                                </h3>
                            </div>
                            <div class="dashhead-toolbar">
                                <div class="dashhead-toolbar-item"><a href="index.html">
                                        <img src="./assets/img/Component2.png" alt="" class="src">

                                </div>
                            </div>
                        </div>
                    </header> -->
                    <div class="main-content bg-clouds">
                        <div class="container-fluid p-t-15">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box shadow-2dp b-r-2">
                                        <!-- <header class="b-b">
                                            <h4>Members</h4>
                                            <div class="box-tools"><span class="label label-success">5</span></div>
                                        </header> -->
                                        <div class="box-body">



                                            <form action="" method="post">
                                                <div class="row">

                                                    <div class="col-md-4">

                                                        <div class="form-group p-b-10">

                                                            <label for="sel1" class="form-label">Select Category
                                                            </label>

                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected> select </option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </div>


                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group p-b-10">

                                                            <label for="sel1" class="form-label">Select Category
                                                            </label>

                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected> select </option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </div>


                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group p-b-10">

                                                            <label for="sel1" class="form-label">Select Category
                                                            </label>

                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected> select </option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </div>


                                                    </div>
                                                </div>
                                            </form>
                                            <table id="example" class="table table-bordered  table-striped "
                                                cellspacing="0" width="100%">
                                                <thead class="table-danger">
                                                    <tr>
                                                        <th class="col-md-2">Name</th>
                                                        <th class="col-md-2">Position</th>
                                                        <th class="col-md-2">Office</th>
                                                        <th class="col-md-2">Age</th>
                                                        <th class="col-md-2">Start date</th>
                                                        <th class="col-md-2">Salary</th>
                                                    </tr>
                                                </thead>
                                                <!-- <tfoot>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Position</th>
                                                        <th>Office</th>
                                                        <th>Age</th>
                                                        <th>Start date</th>
                                                        <th>Salary</th>
                                                    </tr>
                                                </tfoot> -->
                                                <tbody>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Airi Satou</td>
                                                        <td class="highlight">
                                                            Supercalifragili
                                                        </td>
                                                        <td>Tokyo</td>
                                                        <td>33</td>
                                                        <td>2008/11/28</td>
                                                        <td>$162,700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>






                                <div class="col-md-12">
                                    <div class="box shadow-2dp b-r-2">
                                        <div class="box-body">
                                            <ul class="members">
                                                <li class="member">
                                                    <div class="member-media">
                                                        <a class="member-media-link" href="#">
                                                            <img class="member-media-img"
                                                                src="./assets/img/Group8143.png" alt="Bret">
                                                        </a>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <h4 class="member-name">Elizabeth Graham</h4>
                                                        <div class="member-skills">Vice-Chancellor</div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <p>Email: elizabeth@example.com</p>
                                                        <p>Mobile: (123) 456-7890</p>
                                                    </div>

                                                    <div class="col-md-5">

                                                        <p>Address: Sector 51 Noida, <br> Region: Uttar Pradesh, Market:
                                                            UP
                                                            (East)</p>
                                                    </div>


                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer" class="footer app-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-top col-sm-12">

                            <p class="text-center copyright">&copy; <span id="mgsYear"></span> <a href="">©2024</a>
                                Sales Hierarchy All Rights Reserved </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a> -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/mgsdashboard.js"></script>

    <script src='https://cdn.datatables.net/2.0.8/js/dataTables.js'></script>
    <script src='https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js'></script>

    <script>
        new DataTable('#example');
    </script>

</body>

</html>